<!DOCTYPE html>
<html>
  <head>
    <title>@TITLE@</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h1 class="title">@TITLE@ <small>FlüchtlingsFAQ</small></h1>
        </div><!-- /.col-lg-9 -->
        <div class="col-lg-3">
          <form action="https://www.google.com/search" role="search" id="searchform">
            <div class="input-group">
              <input name="sitesearch" value="fluechtlingsfaq.info" type="hidden" />
              <input type="text" class="form-control" placeholder="Suchen nach&hellip;" name="q" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Los!</button>
              </span>
            </div><!-- /input-group -->
          </form>
        </div><!-- /.col-lg-3 -->
      </div><!-- /.row -->
